#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input, select{
  width: auto;
  padding:5px;
  margin: 20px 0;
  border-radius: 10px;
  border: 1px solid rgb(110, 0, 212);

}

#sets, #reps, #amount{
  width: 80px;
}

label{
  position:absolute;
}

#submit-btn {
  color:rgb(255, 208, 0) ;
  background: rgb(92, 0, 179);
  padding: 5px 10px ;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid transparent;
}

#submit-btn:hover {
  color:rgb(211, 0, 0) ;
  background: rgb(240, 198, 13);
  padding: 5px 10px ;
  margin: 5px;
}
/*-------Default button settings----*/
button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
