:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #020202;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: grid;    display the nav section full width */
  place-items: center;
  min-width: 350px;
  min-height: 50vh;
  font-size: 1em;
  line-height: 1.5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(123, 55, 168);
}

h2 {
  color: rgb(89, 8, 165);
}

/*------------------- HTML STATIC-------------------*/
nav{
  display:flex;
  justify-content: space-between;
  /* margin:5%; */
  padding:2% 5%;
  background-color:#8f0394
}
.menu{
  display:flex;
  width: 300px;
  justify-content: space-evenly;
}
.hero{
  display: flex;
  justify-content: space-evenly;
}
.hero img{
  width: 500px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  /* border: 3px solid rgb(24, 116, 255); */
}
/*------------------------MAIN APP------------------------*/

/*---------------------Profile Component------------------------*/
#profile{
  /* display:flex;
  flex-direction: column;
  width: fit-content;
  padding: 5px 20px;
  gap: 10px;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  border-radius: 30px; */
  padding: 15px 25px;
  /* border: 3px solid rgb(24, 116, 255);
  background-color: rgb(19, 41, 4); */
}

#profile ul{
  list-style-type: none;  
}

/*---------------------Exercise Form Component------------------------*/
.form{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: 0 20px;
  /* border: 3px solid rgb(24, 116, 255); */
  /* background-color: rgb(116, 235, 36); */
}
input, select{
  width: auto;
  padding: 5px;
  margin: 20px 0;
  border-radius: 10px;
  /* border: 2px solid rgb(110, 0, 212); */
}
select:focus-visible {
  outline: 1px dashed rgb(255, 38, 0);
}
#sets, #reps, #amount, #rest{
  width: 80px;
  flex-grow: inherit;
}
#exercise{
  width: 120px;
}
label{    /* Form label */
  font-size: 0.85em;
  position:absolute;
  padding: 1px;
}

span{
  font-weight: bold;
}
#saveWorkout{
  width: 90px;
  /* border: 3px solid rgb(24, 116, 255); */
}


/*---------------------Load Workouts Component------------------------*/
.loadsave{
  display:flex;
  flex-direction: row;
  gap: 20px;
  margin: 0px;
  justify-content: center;
}
.workoutDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content:center ;
  align-content: center;
  gap: 10px;
  max-width:1050px;
  height: fit-content;
  margin: 20px;
  padding:20px;
  /* border: 3px solid rgb(24, 116, 255); */
  /* background-color: rgb(3, 214, 144); */
}
.workoutTitle{
  display: flex;
  justify-content:center ;
  align-content: center;
}
.exerciseDiv{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  width:330px;
  height:fit-content;
  min-height: 250px;
  border-radius: 30px;
  /* border: 3px solid rgb(47, 164, 241); */
  background-color:rgba(179, 112, 255, 0.582);
  /* opacity: 0.5; */

}
/* .infoDiv{
  margin-bottom: 5px;
  align-items: center;
  border: 3px solid rgb(194, 135, 9);
} */
.progressDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height:auto;
  /* border: 3px solid rgb(138, 194, 9); */
}
.progressEle {
  width: 130px;
  height: 25px;
  justify-items: center;
  align-self: center;
}

.exfin{
  font-style: italic;
  font-weight: bold;
  text-decoration: line-through;
  text-decoration-thickness: 2.5px;
  color:rgb(184, 177, 177, 0.4);
  h2 { 
    color:rgba(138, 129, 129, 0.3);
  }

}
/*---------------------Buttons-------------------*/
button{
  width:auto;
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0.5em 1.1em;
  align-self: center;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b018ec;
  cursor: pointer;
  transition: border-color 0.7s;
}
button:hover {
  border-color: #013b10;
  background-color: #28da04;
}
button:focus-visible {
  outline: 3px dashed rgb(255, 38, 0);
}
.formSubmitBtn {
  color:rgb(255, 230, 0) ;
  background: rgb(120, 2, 179);
  padding: 5px 10px ;
  margin: 5px;
  border-radius: 20px;
  border: 1px solid transparent;
}
.formSubmitBtn:hover {
  color:rgb(0, 0, 0) ;
  background: rgb(240, 198, 13);
}
#loadWorkoutBtn {
  color:rgb(255, 255, 255) ;
  background: rgba(0, 158, 40, 0.836);
  padding: 2px 7px ;
  margin: 0px 5px;
  border: 1px solid transparent;
}
#loadWorkoutBtn:hover {
  color:rgb(0, 0, 0) ;
  background: rgb(191, 253, 141);
  border: 1px solid green;
}
#delWorkoutBtn{
  color:rgb(255, 255, 255) ;
  background: rgba(255, 19, 2, 0.836);
  padding: 2px 7px ;
  margin: 0px 5px;
}
#delWorkoutBtn:hover {
  color:rgb(230, 0, 0) ;
  background: rgb(250, 176, 142);
  border: 2px solid red;
}
#saveWorkoutBtn {
  color:rgb(255, 255, 255) ;
  background: rgba(255, 175, 2, 0.836);
  padding: 2px 7px ;
  margin: 0px 5px;
}
#saveWorkoutBtn:hover {
  color:rgb(0, 0, 0) ;
  background: rgb(250, 176, 142);
  border: 2px solid rgb(223, 134, 0);
}
.timerBtn{
  background-color: #3cf8b0;
  color:black;
  align-self: center;
}
.timerBtn:hover{
  background-color: #dfdfdf;
  color:black;
}
.btnFin{
  background-color: #aaaaaa;
  color:black;
}
.btnFin:hover{
  background-color: #aaaaaa;
  color:black;
}
#logoutBTN{
  background-color: #ff0000;
  color:rgb(255, 255, 255);
}
#logoutBTN:hover{
  background-color: #f1f1f1;
  color:rgb(255, 0, 0);
}
#showFormBtn{
  background-color: #f17500;
  color:black;
}
#showFormBtn:hover{
  background-color: #ffffff;
  color:rgb(255, 118, 6);
  border: 2px solid #da0404;
}
.deleteBTN{
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 1.7em;
  padding: 5px;
  background-color: transparent;
  color:rgb(255, 255, 255);
  border:none;
  transition: transform .4s;
}
.deleteBTN:hover{
  transform: scale(1.8); /* zoom 150% */
  background-color: transparent;
  color:rgb(255, 118, 6);
  border:none;
}
.restDone{
  background-color: #da0404;
  }

/*-------Default button settings----*/
bttn {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #da0404;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 120px;
}
bttn:hover {
  border-color: #646cff;
}

 