// Import Bootstrap's functions, variables, and mixins
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";

$primary: #ae00fff3; // Custom primary color
$secondary: #33ff44;
$info: rgb(105, 99, 99);

$body-bg: #000000;
$body-color: #ffffff;

$input-border-radius:20px;

$btn-border-radius: 20px;
$btn-border-radius-lg: 20px;
$btn-border-radius-sm: 20px;

.rounded-border {
    border-radius:20px;
}

$card-bg: rgb(22, 1, 32);
$card-border-radius: 20px;

$tooltip-bg: rgb(255, 255, 255);

$progress-height: 20px;
$progress-font-size:  1rem;
$progress-bar-color:  rgb(0, 0, 0);
$progress-bar-bg: $primary;

$modal-backdrop-bg:   #000000;
$modal-content-bg: $primary; 
$modal-footer-border-color: $primary; 
$modal-header-border-color: $primary;

$navbar-light-color: white;
$navbar-light-brand-color:  rgb(255, 255, 255);
$navbar-light-brand-hover-color:  $secondary;
$navbar-light-hover-color:  $secondary;

$btn-close-focus-shadow: 0 0 0 .25rem rgba($secondary, 0.7);
$btn-close-color: $secondary;

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-floating > label {
    margin-left: 0.4rem;
    font-size: 0.9rem;
    width:auto;
  }
.input-group input[type="number"] ~ label { /* Adjust for number input as number spinner affects margin*/
    margin-left: 0rem; 
  }
  
@media (min-width: 768px) { // Change at md breakpoint
  button.btn{
    font-size: 1.20rem;  /* Larger size */
    }
  .form-floating .form-control  {
      font-size: 1.1rem;
      height: fit-content; // Adjust height based on font-size
      padding-left: 1rem;
      padding-right: 0.5rem;
    }
  }

.modal-header button.btn-close{
    transition: transform .4s;
    font-size: 1.2em;
    filter:  grayscale(100%)  brightness(200%); 
  }
  
.btn-close-custom {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    transition: transform .4s;
  } 
  .btn-close:hover {
    transform: scale(1.5); /* zoom 150% */
  }

.btn.btn-primary{
    color: #ffffff;
    }
.btn.btn-primary:hover {
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(9, 255, 0, 0.8); // Add shadow
    }
.btn.btn-secondary:hover {
    box-shadow: 0 4px 6px $primary; // Add shadow
    }
.btn.btn-outline-primary:hover {
    color: $secondary;
    background-color: #000000;
    box-shadow: 0 4px 6px $primary; // Add shadow
    }
.btn.btn-outline-secondary:hover {
    color: $primary;
    background-color: #000000;
    box-shadow: 0 4px 6px $secondary; // Add shadow
    }

@import "../node_modules/bootstrap/scss/bootstrap";
