// Custom.scss

// Import Bootstrap's functions, variables, and mixins
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";

$primary: #cc00fff3; // Custom primary color
$secondary: #33ff44;
$info: rgb(209, 209, 209);

$body-bg: #000000;
$body-color: #ffffff;

$input-border-radius:20px;
$btn-border-radius: 20px;

.rounded-border {
    border-radius:20px;
}

$card-bg: $primary;
$card-border-radius: 20px;

$tooltip-bg: $secondary;

$progress-height: 20px;
$progress-font-size:  1rem;
$progress-bar-color:  rgb(0, 0, 0);
$progress-bar-bg: $primary;

$modal-backdrop-bg:   #000000;
$modal-content-bg:  $primary; 
$modal-footer-border-color: $primary; 
$modal-header-border-color: $primary;

$navbar-light-color:  #ffffff;
$navbar-light-brand-color:  $secondary;
$navbar-light-hover-color:  $secondary;

.btn.btn-primary{
    color: #ffffff;
    }
.btn.btn-primary:hover {
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(9, 255, 0, 0.8); // Add shadow
    }

@import "../node_modules/bootstrap/scss/bootstrap";
